ul
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:inline;
font-weight:bold;
color:#FFFFFF;
background-color:#0080ff;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#8000ff;
}


