<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:s="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Add Customer"/></h1>
                <table class="table table-bordered ">

                    <tr class="#{!Name.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="Name" for="Name" />
                        </td>
                        <td>
                            <h:inputText id="Name" value="#{customer.name}" title="Name" required="true" requiredMessage="Please enter the Name" pt:placeholder="CommonWealth"/>
                            <br/>
                            <h:message for="Name" class="#{!Name.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="industry" for="industry" />
                        </td>
                        <td>
                        
                        	<div>
								<h:selectOneMenu value="#{customer.industry}">
								<!-- value list -->
									<s:selectItems value = "#{customer.industries}" label = "#{customer.industries}" />
								</h:selectOneMenu>
 				 			</div>
                        </td>

                    </tr>

                    <tr class="#{!roomNo.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="roomNo" for="roomNo" />
                        </td>
                        <td>
                            <h:inputText id="roomNo" value="#{customer.roomNo}" title="roomNo" required="true" requiredMessage="Please enter the Room number" pt:placeholder="1"/>
                            <br/>
                            <h:message for="roomNo" class="#{!roomNo.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>

                    <tr class="#{!street.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="street" for="street" />
                        </td>
                        <td>
                            <h:inputText id="street" value="#{customer.street}" title="street" required="true" requiredMessage="Please enter the street!" pt:placeholder="11 Bettina Street"/>
                            <br/>
                            <h:message for="street" class="#{!street.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>
                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" required="true" requiredMessage="Please enter the suburb!" pt:placeholder="Clayton"/>
                            <br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="postcode:" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 1000 and 9999" converterMessage="Please enter a number" pt:placeholder="3000">
                            	<f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1000" maximum="9999" /> 
							</h:inputText>
                            <br/>
                            <h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>

                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="state" for="state" />
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" required="true" requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>

                    </tr>

                </table>

                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" />
                <h:link id="close" value="Close" outcome="index.xhtml"
						          class="btn btn-primary" />

            </h:form>

        </f:view>
            </div>
        </div>

    </h:body>
</html>