<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
</h:head>
<body>
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer Contact
                </div>
            </div>
            
		<div>
			<f:view>
				<h:form>
					<table class="table table-bordered ">

						<tr>
							<td width="200"><h:outputLabel value="Customer ID" for="ID" /></td>
							<td><h:outputText id="ID"
									value="#{addCustomerContact.customerid}" title="ID" /></td>
						</tr>

						<tr>
							<td width="200"><h:outputLabel value="firstName" for="firstName" /></td>
							<td><h:inputText id="firstName" value="#{addCustomerContact.customerContact.firstName}" title="firstName" />
								<h:message for="firstName " style="color: red" bind="firstName"/></td>
						</tr>

						<tr>
							<td width="200"><h:outputLabel value="lastName" for="lastName" /></td>
							<td><h:inputText id="lastName" value="#{addCustomerContact.customerContact.lastName}" title="lastName" />
								<h:message for="lastName " style="color: red" bind="lastName"/></td>
						</tr>

						<tr>
							<td width="200"><h:outputLabel value="gender" for="gender" /></td>
							<td><h:inputText id="gender" value="#{addCustomerContact.customerContact.gender}" title="gender" />
								<h:message for="gender " style="color: red" bind="gender"/></td>
						</tr>

						<tr>
							<td width="200"><h:outputLabel value="email" for="email" /></td>
							<td><h:inputText id="email" value="#{addCustomerContact.customerContact.email}" title="email" />
								<h:message for="email " style="color: red" bind="email"/></td>
						</tr>

						<tr>
							<td width="200"><h:outputLabel value="phoneNo" for="phoneNo" /></td>
							<td><h:inputText id="phoneNo" value="#{addCustomerContact.customerContact.phoneNo}" title="phoneNo" />
								<h:message for="phoneNo " style="color: red" bind="phoneNo"/></td>
						</tr>

					</table>

					<h:commandButton id="submit" value="Submit"
						action="#{addCustomerContact.addContactPerson()}"
						class="btn btn-primary">
						<f:param name="customerIndex"
							value="#{customerController.customer.customerId}" />
						<f:param name="customerID"
							value="#{customerController.customer.customerId}" />
					</h:commandButton>
					<h:link id="close" value="Close" outcome="faces/index.xhtml"
						class="btn btn-primary">

					</h:link>


				</h:form>
				<h:messages style="color: red" />
			</f:view>
		</div>
	</div>
</body>
</html>
