<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle}- Customer Contact  Detail</div>
		</div>
		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerContactController.customerContact.customerContactId}</h:outputLabel>
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">First Name:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerContactController.customerContact.firstName}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Last Name: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "industry" >#{customerContactController.customerContact.lastName}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Gender: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "roomNo" >#{customerContactController.customerContact.gender}</h:outputLabel>
                        </td>
                    </tr>   
                    <tr>
                        <td width ="100" valign="top">Email: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "street" >#{customerContactController.customerContact.email}</h:outputLabel>
                        </td>
                    </tr>   
                    <tr>
                        <td width ="100" valign="top">phoneNo: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "suburb" >#{customerContactController.customerContact.phoneNo}</h:outputLabel>
                        </td>
                    </tr>                       
				</table>
					<div>
						<a href="javascript:history.go(-1);" class="btn btn-primary">Close</a>
					</div>         
				</h:form>
	</div>
</h:body>
</html>