<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">#{titleController.pageTitle}- Customer Contact  List</div>
		</div>
        
<div>
    <ul>
    <h:outputStylesheet library="css" name="navigationBar.css"></h:outputStylesheet>
        <li><a href="faces/index.xhtml">Home</a></li>
    </ul>
</div>
		
		<h:form id="MyForm">
			<table class="table table-bordered table-striped">
				<!-- For each customer Contact in customers ArrayList... -->
				<tr>
					<td><h:outputLabel id="Id" value="Id" /></td>
					<td><h:outputLabel id="FirstName" value="FirstName" /></td>
					<td><h:outputLabel id="LastName" value="LastName" /></td>
					<td><h:outputLabel id="PhoneNo" value="PhoneNo" /></td>
					<td><h:outputLabel id="Operation" value="Operation" /></td>

				</tr>
				<ui:repeat id="Myrepeat"
					value="#{customerController.customer.customerContact}" var="contact"
					varStatus="status">

					<tr>
						<td><h:outputText value="#{contact.customerContactId}"
								id="contactId" /></td>

						<td><h:outputText id="firstName" value="#{contact.firstName}" />
						</td>
						
						<td><h:outputText id="lastName"
								value="#{contact.lastName}"></h:outputText></td>
						<td><h:outputText id="phoneNo"
								value="#{contact.phoneNo}"></h:outputText></td>
						<td>
							
							<h:link value="View | " outcome="ContactAllDetail.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{contact.customerContactId}"/>
                                <f:param name="customerContactId" value="#{contact.customerContactId}"/>
                            </h:link>
                            
                              <h:link value="Edit | " outcome="editContact.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{contact.customerContactId}"/>
                                <f:param name="customerContactId" value="#{contact.customerContactId}"/>
                              </h:link>

                                <h:commandLink value="Delete " action="#{removeCustomerContact.removeCustomerContact(contact.customerContactId)}" disabled="#{contact.customerContactId == null}">
                                <f:param name="customerIndex" value="#{contact.customerContactId}"/>
                                <f:param name="customerContactId" value="#{contact.customerContactId}"/>
                                </h:commandLink>
						</td>
					</tr>
				</ui:repeat>
				</table>
			<div>
				<div>
					<h:commandButton value="Add New Contact Person"
						action="addContactPerson" class="btn btn-primary">
						<f:param name="customerIndex"
							value="#{customerController.customer.customerId}" />
						<f:param name="customerID"
							value="#{customerController.customer.customerId}" />
					</h:commandButton>
				</div>
				<p></p>
			</div>
				</h:form>
	</div>
</h:body>
</html>