<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:s="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Customer Detail</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Customer Detail 
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Name:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.name}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "industry" >#{customerController.customer.industry}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Room No: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "roomNo" >#{customerController.customer.roomNo}</h:outputLabel>
                        </td>
                    </tr>   
                    <tr>
                        <td width ="100" valign="top">Street: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "street" >#{customerController.customer.street}</h:outputLabel>
                        </td>
                    </tr>   
                    <tr>
                        <td width ="100" valign="top">Suburb: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "suburb" >#{customerController.customer.suburb}</h:outputLabel>
                        </td>
                    </tr>   
                    <tr>
                        <td width ="100" valign="top">Postcode: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "postcode" >#{customerController.customer.postcode}</h:outputLabel>
                        </td>
                    </tr>   
                    <tr>
                        <td width ="100" valign="top">State: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "state" >#{customerController.customer.state}</h:outputLabel>
                        </td>
                    </tr>                      
                 </table>
                 <h:link id="close" value="Close" outcome="faces/index.xhtml"
 						          class="btn btn-primary" />

            </h:form>
        </div>
    </h:body>
</html>
