<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
	<div class="container">
    	<div class="navbar navbar-inverse">
        	<div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Contact Details
            </div>
        </div>
         <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerContactController.customerContact.customerContactId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">FirstName: </td>
                        <td valign="bottom">
                            <h:inputText id = "FirstName" value="#{customerContactController.customerContact.firstName}"  required="true"
                                         validatorMessage="Please enter a valid First Name."
                                         requiredMessage="Please enter a First Name. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">LastName: </td>

                        <td valign="bottom">
                            <h:inputText id = "LastName" value="#{customerContactController.customerContact.lastName}"  required="true"
                                         validatorMessage="Please enter a valid Last Name."
                                                 requiredMessage="Please enter a Last Name ">
                            </h:inputText>

                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Gender: </td>

                        <td valign="bottom">
                            <h:inputText id = "street" value="#{customerContactController.customerContact.gender}"  required="true"
                                         validatorMessage="Please enter a valid gender"
                                                 requiredMessage="Please enter a gender "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email: </td>

                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{customerContactController.customerContact.email}"  required="true"
                                         validatorMessage="Please enter a valid Email"
                                                 requiredMessage="Please enter an Email. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">PhoneNo: </td>

                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerContactController.customerContact.phoneNo}"  required="true"
                                         validatorMessage="Please enter a valid PhoneNo"
                                                 requiredMessage="Please enter an PhoneNo "></h:inputText>
                        </td>
                    </tr>

                </table>

                <h:commandButton id="save" value="Save" action="#{customerContactManagedBean.editCustomerContact(customerContactController.customerContact)}"  class="btn btn-primary" >
                	<f:param name="customerContactId" value="#{customerContactController.customerContact.customerContactId}"/>
                </h:commandButton>
                
                <h:link id="close" value="Close" outcome="index.xhtml"
						          class="btn btn-primary" />
            </h:form>
    </div>
</h:body>
</html>