<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:s="http://xmlns.jcp.org/jsf/core">

<h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name: </td>
                        <td valign="bottom">
                            <h:inputText id = "Name" value="#{customerController.customer.name}"  required="true"
                                         validatorMessage="Please enter a valid Name."
                                         requiredMessage="Please enter a Name. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry: </td>

                        <td valign="bottom">
                        
                        <div>
							<h:selectOneMenu value="#{customerController.customer.industry}">
							<!-- value list -->
								<s:selectItems value = "#{customerController.industries}" label = "#{customerController.industries}" />
							</h:selectOneMenu>
 				 		</div>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Room No: </td>

                        <td valign="bottom">
                            <h:inputText id = "roomNo" value="#{customerController.customer.roomNo}"  required="true"
                                         validatorMessage="Please enter a valid Room No."
                                                 requiredMessage="Please enter a Room No. ">
                            </h:inputText>

                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street: </td>

                        <td valign="bottom">
                            <h:inputText id = "street" value="#{customerController.customer.street}"  required="true"
                                         validatorMessage="Please enter a valid street"
                                                 requiredMessage="Please enter a street. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Suburb: </td>

                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{customerController.customer.suburb}"  required="true"
                                         validatorMessage="Please enter a valid suburb"
                                                 requiredMessage="Please enter an suburb. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Postcode: </td>

                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerController.customer.postcode}"  required="true"
                                         validatorMessage="Please enter a valid postcode"
                                                 requiredMessage="Please enter an postcode. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">State: </td>

                        <td valign="bottom">
                            <h:inputText id = "state" value="#{customerController.customer.state}"  required="true"
                                         validatorMessage="Please enter a valid State"
                                                 requiredMessage="Please enter a State. "></h:inputText>
                        </td>
                    </tr>

                </table>

                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerIndex" value="#{customerController.customerIndex+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						          class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>