<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head>
<h:body>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-brand">#{titleController.pageTitle}- Customer  List</div>
        </div>
        
<div>
    <ul>
    <h:outputStylesheet library="css" name="navigationBar.css"></h:outputStylesheet>
        <li><a href="faces/index.xhtml">Home</a></li>
    </ul>
</div>
        <h:form id="MyForm">
            <table class="table table-bordered table-striped">
                <!-- For each customer in customers ArrayList... -->
                <tr>
                    <td><h:outputLabel id="Id" value="Id" /></td>
                    <td><h:outputLabel id="Name" value="Name" /></td>
                    <td><h:outputLabel id="Industry" value="Industry" /></td>
                    <td><h:outputLabel id="Operation" value="Operation" /></td>

                </tr>

                <ui:repeat id="Myrepeat" value="#{ausApplication.customers}"
                    var="customerSkip" varStatus="status">

                    <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
                        <td><h:outputText
                                value="#{ausApplication.customers.get(status.index).customerId}"
                                id="customerID" /></td>

                        <td><h:outputText id="name"
                                value="#{ausApplication.customers.get(status.index).name}" />
                        </td>
                        <td><h:outputText id="industry"
                                value="#{ausApplication.customers.get(status.index).industry}"></h:outputText>
                        </td>
                        <td>
                        <h:link value="View | " outcome="faces/detail.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{status.index + 1}"/>
                              </h:link>

                              <h:link value="Edit | " outcome="editCustomer.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{status.index + 1}"/>
                              </h:link>

                                <h:commandLink value="Delete | " action="#{removeCustomer.removeCustomer(ausApplication.customers.get(status.index).customerId)}" disabled="#{ausApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                
                        <h:link value="Contact " outcome="ContactIndex.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerIndex" value="#{status.index + 1}"/>
                              </h:link>

                                <h:outputText value=" "/>
                        </td>
                    </tr>
                </ui:repeat>
            </table>

            <div>
                <h:commandButton id="add" value="Add" action="addCustomer.xhtml" class="btn btn-primary" />
                <h:commandButton id="viewAll" value="View All"
                    action="#{searchCustomer.searchAll()}" class="btn btn-primary">
                </h:commandButton>
            </div>
            <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerIndex" value="#{status.index + 1}"/>
                    </h:commandButton>
            </div>
            <div>

                    <h:inputText value="#{searchCustomer.searchByIndustry}" id="searchByIndustry" required="true" onchange="if (document.getElementById('MyForm:searchByIndustry').value.trim() == '') {document.getElementById('MyForm:searchByIndustry').value = 0.0;} " /> 
                    <h:commandButton id="searchIndustry" value="Search by Industry" action="#{searchCustomer.searchCustomerByIndustry(searchCustomer.searchByIndustry)}" class="btn btn-primary" >
                        <f:param name="customerIndex" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
        </h:form>
    </div>
</h:body>
</html>